		.overlay-bg {
			border: 1px solid green;
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
			-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
			-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
			border-top-left-radius:0.4em;
			border-top-right-radius:0.4em;
			height:320px;
			width:700px;
			background:white;
		}
		
		.overlay-parent {
			height:290px;
			width:705px;
			background:#fff8f0;
		}
		
		div.align-top > p {
			margin-top:5%;
		}
		
		.overlay-header {
			height:50px;
			width:698px;
			border-top-left-radius:0.4em;
			border-top-right-radius:0.4em;
			background:#f0f0e0;
			background:-webkit-linear-gradient(#f0f0e0, #f5f5ba); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(#f0f0e0, #f5f5ba); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(#f0f0e0, #f5f5ba); /* For Firefox 3.6 to 15 */
			background: linear-gradient(#f0f0e0, #f5f5ba); /* Standard syntax */
		}
		.overlay-content {
			height:190px;
			width:700px;
		}
		
		img.previous {
			/* left:21%; */
			/* position:absolute; */
			cursor: pointer;
		}
		
		img.next {
			/* left: 75%; */
			/* position:absolute; */
			/* margin-left:93%;
			margin-top: -7%; */
			cursor: pointer;
			float:right;
		}
		.document {
			float:left;
			height:90%;
			padding:2px;
		}
		
		.expand-collapse-content {
			float:right;
			height:30px;
			padding:2px;
		}
		
		.up-down-arrow-cursor {
			cursor: pointer;
		}
		
		.content-image {
			max-width: 100%;
			max-height: 100%;
		}
		.content-text {
			float:right;
			width:500px;
		}
		
		.gray-border {
			border-top : 1px solid #afafaf;
			margin-top:5%;
		}
		
		div.align-center {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		
		#topMenu {
	    background-color:#222;
    overflow: auto;
}

#box {
  background-color:#111111;
  position:relative;
  /*margin:0 auto;*/
  padding:5px;
  width:90%;
}

.scroller {
  color:#ffffff;
  width:40px;
  text-align:center;
  cursor:pointer;
  display:none;
  padding:5px;
  margin-top:5px;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}

.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:5px;
  	height:50px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
}


.item{
  	padding:10px;
   /*float:left;*/
	display:table-cell;
    margin:1px;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
	border: 1px dotted #111;
   vertical-align:middle;
}
		
		
		@media only screen and (min-width: 147px) and (max-width: 767px) {
			img.content-image {
				height: 100px;
				width: 200px;
				margin-left: auto;
				margin-right: auto;
			}
			
			
			div.overlay-parent,
			div.overlay-content{
				width: 90%;
				padding-left:10%;
				height: 320px;
			}
			
			div.overlay-header {
				width: 100%;
			}
			
			div.overlay-bg {
				width: 100%;
			}
			
			div.overlay-bg {
				min-height:100px;
				height: auto;
			}
			
			
			
		}
		
		@media only screen and (min-width: 147px) and (max-width:470px) {
			div.gray-border {
				margin-top: 110%;
			}
		}
		
		@media only screen and (min-width: 471px) and (max-width:767px) {
			div.gray-border {
				margin-top: 30%;
			}
		}
		
		